
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
          <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>Travel Service</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
  
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto " href="index.html">Accueil</a></li>
              <li><a class="nav-link scrollto" href="voyages.html">Voyages</a></li>
              <li><a class="getstarted scrollto" href="reservation.html">Reservation</a></li>
              <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
  
        </div><!-- End Header Container -->
      </div>
    </header><!-- End Header -->
  
    <main id="main">
  
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Reservation</h2>
            <ol>
              <li><a href="index.html">Accueil</a></li>
              <li>reservation</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <div class="section-title">
                <h2>Reservation</h2>
                <p>Remplire ce formulaire pour effectuer votre reservation.</p>
              </div>
            </div>
  
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
             
  
              <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Votre Prenom" required>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="telepehone" class="form-control" id="telephone" placeholder="Votre Téléphone" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" required>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="depart" class="form-control" id="depart" placeholder="Ville de Départ" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="destination" id="destination" placeholder="Ville d'arrivée" required>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="jour" class="form-control" id="jour" placeholder="Date du voyage" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="heure" id="heure" placeholder="Heure du voyage" required>
                  </div>
                 </div>
  
  
                  <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Votre reservation a été enregistré avec succes. Merci!</div>
                </div>
                <div class="text-center"><button type="submit">Reserver</button></div>
              </form>
            </div>
          </div>
  
        </div>
      </section><!-- End Contact Section -->
      
   
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
  
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Travel Service</h3>
              <p>
             
                 Yaounde, 535022<br>
                CAMEROUN <br><br>
                <strong>Téléphone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info.travelservice.com<br>
              </p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>MENU</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Voyages</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Reservation</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
             
            </div>
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Newsletter</h4>
              <p>Resevoir nos des offres voyages</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="S'abonner">
              </form>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container d-md-flex py-4">
  
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>10000Codeur</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  
  
